.hamburger:hover > div:nth-child(1){
  background-color: ghostwhite;
  animation-name: top;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  height: 12px;
  width: 90%;
  z-index: 2;
  transform-origin: top left;
  margin-top: 15px;
  margin-left: 20px;
}

.hamburger:hover > div:nth-child(2){
  background-color: transparent;
  animation-name: middle;
  animation-duration: .1s;
  animation-fill-mode: forwards;
}

.hamburger:hover > div:nth-child(3){
  background-color: ghostwhite;
  animation-name: bottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  height: 12px;
  width: 90%;
  z-index: 1;
  transform-origin: top left;
  margin-bottom: 11px;
  margin-left: 15px;
}

nav {
  opacity: 0;
  transition-duration: 2s;
}

.hamburger:hover ~ nav {
  opacity: 1;
}

@keyframes top {
  from {transform: rotate(0);}
  to {transform: rotate(45deg); }
}

@keyframes middle {
  from {}
  to {}
}

@keyframes bottom {
  from {transform: rotate(0);}
  to {transform: rotate(-45deg);}
}
